body {
  font-size: 12pt;
  font-family: "Asap", sans-serif; }
  body a {
    text-decoration: none; }

.links {
  text-align: center; }

.footnote {
  font-size: 7pt;
  position: absolute;
  bottom: 10px; }
