body
  font:
    size: 15pt
    family: 'Dosis', 'Helvetica', serif
  width: 600px
  margin:
    left: auto
    right: auto
    
  a
    text-decoration: none
    
.links
  text-align: center
  
.footnote
  font-size: 7pt
  position: absolute
  bottom: 10px